
@font-face {
    font-family: Rubik;
    src: url("/fonts/Rubik/Rubik-Regular.ttf");
}
body {
    font-family: Rubik;
    background-color: #2D2B29;
    color: #FFFFFF;
}

main, header, footer {
    margin-left: 150px;
    margin-right: 150px;
    width: auto;
    gap: 20px;
}

.navigation {
    display: flex;
    /*flex-wrap: wrap;*/
    width: auto;
}

.navigation h4 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    flex: 3 1 34rem;
}
.navigation h4 strong {
    color: #FEA609;
}

.navigation ul {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation ul li a {
    font-family: Rubik;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
}

.navigation ul li a:focus {
    color:#FEA609;
}

footer  {
    background-color: #2D2B29;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    font-family: Rubik;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

footer h4 {
    flex-grow: 2;
}

footer strong {
    font-family: Rubik;
    font-style: normal;
    color: #FEA609;
}
footer ul {
    display: flex;
    flex: 1 1 34px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    text-decoration: none;
}

footer ul li a:hover {
    color: #FEA609;
}

.contact-us {
    width: auto;
    padding-bottom: 35px;
}
.contact-us .intro h4 {
    font-family: Rubik;
    font-style: normal;
    font-size: 44px;
    font-weight: 700;
    height: 10px;
    color: #FFFFFF;
}

.contact-us .intro p {
    width: 400px;
    font-family: Rubik;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9B968B;
}

.contact-us .intro strong {
    color: #FEA609;
}

.contact-us .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us .form input {
    height: 45px;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 4px;
    color: #FFFFFF;
    background:none;
}

.contact-us .form textarea {
    height: 300px;
    border: 1px solid rgba(255,255,255, 0.15);
    color: #FFFFFF;
    background: none;
}

.contact-us .form textarea::placeholder{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #9B968B;
}

.contact-us .form input::placeholder{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #9B968B;
}
.contact-us .form input[type=text]{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.contact-us .form input{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.contact-us .form textarea {
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.contact-us .form button {
    padding: 13px 18px;
    font-family: Rubik;
    width: 126px;
    height: 52px;
    background: #FEA609;
    color: #FFFFFF;
    border-radius: 8px;
}

.about-me {
    display: flex;
    /*border: blue solid 2px;*/
}

.intro-image {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
    width: 450px;
}

.intro-image .ellipse1{
    z-index: -1;
    position: absolute;
    left: 1490px;
    right: 700px;
    top: 99px;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, #383733 40.63%, rgba(44, 42, 39, 0) 100%);
    border-radius: 50%;
}

.intro-image .ellipse2{
    z-index: -1;
    position: absolute;
    top: 360px;
    right: 270px;
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, #383733 40.63%, rgba(44, 42, 39, 0) 100%);
    border-radius: 50%;
}
.intro-image .ellipse-image {
    transition-timing-function: ease-in;
    transition-delay: 2s;
    background: center url("images/profile-pic.png");
    background-size: 420px 460px;
    height: 459px;
    width: 459px;
    border-radius: 50%;
    border: 10px solid #FEA609;
}
.intro-section {
    width: auto;
    /*border: #FEA609 solid 2px;*/
    /*flex: 2 2 120px;*/
    flex-shrink: 0;
    flex-grow: 2;
    flex-basis: 0;
}
.intro-section h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 36px;
    color: #FFFFFF;
}

.intro-section .designation {
    display: flex;
    color: #FFFFFF;
    gap: 20px;
    font-family: Rubik;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    text-transform: uppercase;
}
.intro-section .designation ul {
    display: inherit;
    list-style: none;
    gap: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: inherit;
    align-items: center;
    text-transform: uppercase;
}

.intro-section p {
    width: 480px;
    font-family: Rubik;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9B968B;
}
.intro-section button {
    margin-top: 24px;
    padding: 13px 18px;
    font-family: Rubik;
    width: 150px;
    height: 52px;
    background: #FEA609;
    color: #FFFFFF;
    border-radius: 8px;
}
@media screen and (max-width: 842px) {

    body {
        font-family: Rubik;
        background-color: #2D2B29;
        color: #FFFFFF;
        overflow-x: hidden;
    }

    main, header, footer {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
    }
    .navigation ul{
        display: none;
    }


}