
@font-face {
    font-family: Rubik;
    src: url("/fonts/Rubik/Rubik-Regular.ttf");
}
body {
    font-family: Rubik;
    background-color: #2D2B29;
    color: #FFFFFF;
}

main, header, footer {
    margin-left: 150px;
    margin-right: 150px;
    width: auto;
    gap: 20px;
}

.navigation {
    display: flex;
    /*flex-wrap: wrap;*/
    width: auto;
}

.navigation h4 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    flex: 3 1 34rem;
}
.navigation h4 strong {
    color: #FEA609;
}

.navigation ul {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation ul li a {
    font-family: Rubik;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
}

.navigation ul li a:focus {
    color:#FEA609;
}

footer  {
    background-color: #2D2B29;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    font-family: Rubik;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

footer h4 {
    flex-grow: 2;
}

footer strong {
    font-family: Rubik;
    font-style: normal;
    color: #FEA609;
}
footer ul {
    display: flex;
    flex: 1 1 34px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    text-decoration: none;
}

footer ul li a:hover {
    color: #FEA609;
}

.contact-us {
    /*background-color: red;*/
    /*border: 1px solid #FEA609;*/
    width: auto;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 35px;
}
.contact-us .intro h4 {
    font-family: Rubik;
    font-style: normal;
    font-size: 44px;
    font-weight: 700;
    height: 10px;
    /*line-height: 100%;*/
    color: #FFFFFF;
}

.contact-us .intro p {
    width: 400px;
    font-family: Rubik;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9B968B;
}

.contact-us .intro strong {
    color: #FEA609;
}

.contact-us .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us .form input {
    height: 45px;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 4px;
    color: #FFFFFF;
    background:none;
}

.contact-us .form textarea {
    height: 300px;
    border: 1px solid rgba(255,255,255, 0.15);
    color: #FFFFFF;
    background: none;
}

.contact-us .form textarea::placeholder{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #9B968B;
}

.contact-us .form input::placeholder{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #9B968B;
}
.contact-us .form input[type=text]{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.contact-us .form input{
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.contact-us .form textarea {
    text-indent: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.contact-us .form button {
    padding: 13px 18px;
    font-family: Rubik;
    width: 126px;
    height: 52px;
    background: #FEA609;
    color: #FFFFFF;
    border-radius: 8px;
}
@media screen and (max-width: 842px) {

    body {
        font-family: Rubik;
        background-color: #2D2B29;
        color: #FFFFFF;
        overflow-x: hidden;
    }

    main, header, footer {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
    }
    .navigation ul{
        display: none;
    }


}